spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jwt_security
    username: nostripesz  # change this (or better yet dont hardcode any credentials, I did strictly for testing purposes)
    password: admin       # and this unless ofcourse you created the same user/password then I am flattered
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
