spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jwt_security
    username: nostripesz
    password: adm1n
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
